{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,
        initial-scale=1.0">
        <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
        <title>Css Card Ass</title>
        <link rel="stylesheet" href={% static 'css/cards.css' %}>
        <link rel="stylesheet" href={% static 'css/styles.css' %}>

    </head>
    <body>
    
    <div class="navigation">
      <ul>
        <li>
          <a href="">
            <span class="icon"><i class="fa fa-home"></i></span>
            <span class="title">Home</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="icon"><i class="fa fa-book"></i></span>
            <span class="title">Courses</span>
          </a>
        </li>

        <li>
          <a href="">
            <span class="icon"><i class="fa fa-trophy"></i></span>
            <span class="title">Grades</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="icon"><i class="fa fa-pencil"></i></span>
            <span class="title">Quiz</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="icon"><i class="fa fa-comment"></i></span>
            <span class="title">Messages</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="icon"><i class="fa fa-cog"></i></span>
            <span class="title">Settings</span>
          </a>
        </li>

        <li>
          <a href="">
            <span class="icon"><i class="fa fa-sign-out"></i></span>
            <span class="title">Sign-out</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="container1">
      <nav class="navbar">
        <div class="toggle" onclick="toggleMenu()"></div>
        <div class="navbar__right">
          <a href="#">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </a>
          <a href="#">
            <img width="30" src={% static 'css/avatar.svg' %} alt="" />
            <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
          </a>
        </div>
      </nav>
      <main>
        <div class="container">
          {% if assign_info %}
            {% for i in assign_info %}
            <div class="card">
                <div class="circle">
                    <h2>{{forloop.counter}}</h2>
                </div>
                <div class="content">
                    <h4>Id: {{ i.assign_id }}</h4>
                    <h4>Deadline: {{ i.deadline }}</h4>
                    <h4>Evaluation: {{i.status}}</h4>
                    <h4>-----------------------------</h4>
                    <a href="/students_submission_list/?assign_id={{ i.assign_id }}&course_name={{ course_name }}">Enter marks</a>
                </div>
            </div>
            {% endfor %}
          {% else %}
          <div class="error">
            <h1>No Assignments given!</h1>
          </div>
          {% endif %}
        </div>
        </main>
         <script src="script.js"></script>
    <script type="text/javascript">
      function toggleMenu() {
        let navigation = document.querySelector(".navigation");
        let toggle = document.querySelector(".toggle");
        navigation.classList.toggle("active");
        toggle.classList.toggle("active");
      }
    </script>
    </body>
</html>