{#Faculty upload#}
{% extends "lms/base.html" %} {% load static %} {% block content %}
    <link rel="stylesheet" type="text/css" href={% static 'css/fac_style.css' %}>

    <div class="main__container scroll">
        <!-- MAIN TITLE STARTS HERE -->

        <div class="main__title">
            <img src={% static 'css/course.svg' %} alt=""/>
            <div class="main__greeting">
                <h1>Change Your Password</h1>
                {#                <p>Credits</p>#}
            </div>
        </div>

        <div class="container cont1">

            <form enctype="multipart/form-data" action="" method="POST" onsubmit="return validateForm()" name="myForm">
                <div class="form-edit">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="label-tag">{{ field.label_tag }}</div>
                        <div class="input-data">{{ field }}</div>
                        {#                        <div class="help-text">#}
                        {#                            {% if field.help_text %}#}
                        {#                                {{ field.help_text|safe }}#}
                        {#                                <br/>#}
                        {#                            {% endif %}#}
                        {#                        </div>#}
                        <br/>
                    {% endfor %}
                    <div class="error-message">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                        <br/>
                        <div class="form-row submit-btn">
                            <input type="submit" class="btn1" value="POST" value="Create"/>
                        </div>

            </form>

        </div>
    </div>
    <script>
        document.getElementById("uploadBtn").onchange = function () {
            document.getElementById("uploadFile").value = this.value;
            console.log(this.value)
        };


    </script>
    <script>
        function deadline_func() {
            var temp2 = "Test";
            console.log(temp2);
        };

        function validateForm() {
            var x = document.forms["myForm"]["prev_password"].value;
            var y = document.forms["myForm"]["password1"].value;
            var z = document.forms["myForm"]["password2"].value;
            if (x != {{ prev_password }}) {
                alert("Your original password dosent match!");
                return false;
            }
            if (y != z) {
                alert("Reenter your new password again!");
                return false;
            }
        }

    </script>

{% endblock %}

