{#Faculty upload#}
{% extends "lms/base.html" %} {% load static %} {% block content %}
    <link rel="stylesheet" type="text/css" href={% static 'css/fac_style.css' %}>

    <div class="main__container scroll">
        <!-- MAIN TITLE STARTS HERE -->

        <div class="main__title">
            <img src={% static 'css/course.svg' %} alt=""/>
            <div class="main__greeting">
                <h1>{{ course_name }}</h1>
{#                <p>Credits</p>#}
            </div>
        </div>


        <div class="container cont1">
            <h1>Grading Assignment</h1>
            <form enctype="multipart/form-data" action="" method="POST" onsubmit="return validateForm()" name="myForm">
                {% csrf_token %}
                <div class="form-row1">
                    <div class="input-data">
                        <div class="form-group">
                            <div class="upload-btn-wrapper">
                                <a href="../{{ pdf }}" target="_blank">
                                    <h4>Student Submission</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row1">
                    <div class="input-data">
                        <div class="form-group">
                            <h3>Total Marks:{{ total_marks }}</h3>
                        </div>
                    </div>
                </div>
                <div class="form-row1">
                    <div class="input-data">
                        <div class="form-group">
                            <h3> {{ status }}</h3>
                        </div>
                    </div>
                </div>


                <div class="form-row1">
                    <div class="input-data">
                        <div class="form-group">
                            <input type="number" placeholder="Enter Marks" name="marks">
                        </div>
                    </div>
                </div>

                <div class="form-row1">
                    <div class="input-data">
                        <div class="form-group">
                            <input type="text" placeholder="Enter Comments" name="comments">
                        </div>
                    </div>
                </div>

                <div class="form-row1 submit-btn">
                    <input type="submit" class="btn1" value="POST">
                </div>
            </form>
        </div>
    </div>


    <script>
        function validateForm() {
            var x = document.forms["myForm"]["marks"].value;
            console.log(x);
            var y = document.forms["myForm"]["comments"].value;
            if (x == null || y == "") {
                alert("All the fields must be filled !");
                return false;
            }
        }
    </script>

{% endblock %}

