{% extends "lms/base.html" %} {% load static %} {% block content %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>

    <link rel="stylesheet" href={% static 'css/f_assignment.css' %}>
    <link rel="stylesheet" href={% static 'css/fac_style.css' %}>


<div class="main__container">
        <!-- MAIN TITLE STARTS HERE -->

        <div class="main__title">
            <img src={% static 'css/course.svg' %} alt=""/>
            <div class="main__greeting font-bold text-title">
                <h3 style="font-family: sans-serif">{{ course_name }}</h3>
                <p>Credits</p>
            </div>
        </div>
</div>
<div class="right">

    <ul >

        <h2>Assignments for {{ course_id }}  : {{ course_name }}

        </h2>

        <br><br>
        {% for i in assign_info %}
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h2>{{ i.assign_id }}</h2>

                <p style="font-family: Verdana">

                    <b>Assignment:</b>
                    <a href="../{{ i.PDF }}" target="_blank" style="color: blue">
                        PDF
                    </a>
                    <br><br>
                    <b>Weightage: </b> {{ i.marks }} marks
                    <br>
                    <b>Deadline: </b> {{ i.deadline }}
                    <br>

                    {% if i.status == "Upload" %}
                        <a href="/upload_student_assignment/?assign_id={{ i.assign_id }}">{{ i.status }} Assignment</a>
                         <br> {{ i.time_status }} left for submission
                    {% else %}
                        <a href="/upload_student_assignment/?assign_id={{ i.assign_id }}">{{ i.status }} Assignment</a>
                         <br> Submitted before {{ i.time_status }}
                    {% endif %}

{#                         <a href="/upload_student_assignment/?assign_id={{ i.assign_id }}">Edit Assignment</a>#}


                </p>

            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
