{% extends "lms/base.html" %} {% load static %} {% block content %}
    <link rel="stylesheet" type="text/css" href={% static 'css/fac_style.css' %}>

    <div class="main__container scroll">
        <!-- MAIN TITLE STARTS HERE -->

        <div class="main__title">
            <img src={% static 'css/course.svg' %} alt=""/>
            <div class="main__greeting">
                <h1>Course Name</h1>
                <p>Credits</p>
            </div>
        </div>

        <div class="container cont1">
            <h1> New Assignment</h1>
            <form enctype="multipart/form-data" action="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="input-data">
                        <input type="number" name="marks" value={{ marks }} >
                        <div class="underline"></div>
                        <label for="">Marks</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-data">
                        <input id="dhatri"
                               name="deadline"
                               type="text"
                               onfocus="(this.type='datetime-local')"
                               onload="deadline_func();"
                               onblur="(this.type='text')"
                               value={{ deadline }} >
                        <div class="underline"></div>
                        <label for="">Deadline</label>
                    </div>
                </div>

                <div class="form-row">
                    <div class="input-data">
                        <div class="form-group">
                            <div class="upload-btn-wrapper">
                                {#                            <input id="uploadFile"  disabled="disabled"/>#}
                                {#                            <div class="fileUpload btn btn-primary btn">#}
                                {#                                <span>Upload</span>#}
                                {#                                <input id="uploadBtn" type="file" class="upload" name="PDF"/>#}
                                {#                            </div>#}
                                {#                            <input id="uploadFile"  disabled="disabled"/>#}
                                <button class="btn">Choose Assignment</button>
                                <input id="uploadBtn" type="file" name="PDF"/>


                            </div>
                        </div>
                        <div class="form-group">
                            <input id="uploadFile" disabled="disabled"/>

                        </div>
                    </div>
                </div>


                <br/>
                <div class="form-row submit-btn">
                    <input type="submit" class="btn1" value="POST" value="Create"/>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.getElementById("uploadBtn").onchange = function () {
            document.getElementById("uploadFile").value = this.value;
            console.log(this.value)
        };

        document.getElementById("dhatri").onchange = function(){
            var temp = this.value;
            console.log(temp)
        };



    </script>
    <script>
    function deadline_func(){
          var temp2="Test";
          console.log(temp2);
        };
    </script>

{% endblock %}

{#  <!--<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <meta charset="utf-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding:wght@700&display=swap"#}
{#          rel="stylesheet">#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"#}
{#          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">#}
{#    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"#}
{#            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"#}
{#            crossorigin="anonymous"></script>#}
{#    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>#}
{##}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"#}
{#            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"#}
{#            crossorigin="anonymous"></script>#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">#}
{##}
{#</head>#}
{# <h2>Upload book</h2>#}
{##}
{##}
{#<form enctype="multipart/form-data" action="" method="POST">#}
{#    {% csrf_token %}#}
{#                {{ form }}#}
{##}
{#    <h4 style="text-align:center">Upload Assignment Details</h4>#}
{#    <div class="container">#}
{#        <input type="number" placeholder="Assignment marks" name="marks">#}
{#        <input type="file" placeholder="Upload Assignment" name="PDF">#}
{#        <br>#}
{#        <input type="datetime-local" placeholder="deadline" name="deadline">#}
{#        <br>#}
{#            <button type="submit" value="POST">Upload</button>#}
{#        <p>#}
{#            <a href="{% url 'faculty_dashboard' %}" class="btn btn-primary">Back to courses</a>#}
{#        </p>#}
{#    </div>#}
{#</form>#}
{#</div>#}
