@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #f8f7f6, #f4ecf7);
    background-attachment: fixed;
}

.container {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    left: 0;
}

.container .card {
    position: relative;
    width: 330px;
    height: 370px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.container:hover .card {
    /* filter: blur(20px); */
    transform: scale(0.9);
    opacity: 0.5;
}

.container .card:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

.container .card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
    clip-path: circle(100px at center 0);
    text-align: center;
}

.container .card .circle h2 {
    color: #cfbb23;
    font-size: 3.5em;
    /* padding: 30px 0; */
}

.container .card .content {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
}

.container .card .content h4 {
    padding: 6px;
    color: #666;
    margin: auto;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: #cfbb23;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}

.container .card:nth-child() .circle,
.container .card:nth-child() .content a {
    background: #333;
}

.error{
    text-align: center;
    padding-top: 200px;
}