@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");


::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: #a19f3e;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #a5aaad;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.text-primary-p {
    color: #a5aaad;
    font-size: 18px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.font-bold {
    font-weight: 700;
    font-size: 30px;
}

.text-title {
    color: #2e4a66;
}

.navbar {
    background: #fff;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;

}

.navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__right > a {
    margin-left: 20px;
    text-decoration: none;
}

.navbar__right > a > i {
    color: #a5aaad;
    font-size: 16px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
    padding: 7px;
}

main {
    background: #ffffff;
    grid-area: main;
    overflow-y: auto;
}

.main__container {
    padding: 20px 35px;
}

.main__title {
    display: flex;
    align-items: center;
}

.main__title > img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.main__greeting > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.main__greeting > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}

.main__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.card_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.charts__right {
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.charts__right__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charts__right__title > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}


.charts__right__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.card1 {
    background: #d1ecf1;
    color: #000;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}

/*  SIDEBAR STARTS HERE  */
.navigation {
    position: fixed;
    width: 60px;
    height: 100%;
    top: 0;
    background: #333;
    transition: 0.5s;
    overflow: hidden;
    z-index: 3;
}

.navigation:hover,
.navigation.active {
    width: 300px;
}

.navigation ul {
    position: absolute;
    margin-top: 60px;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover {
    background: #cfbb23;
}

.navigation ul li a:hover {
    color: #333;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa {
    font-size: 24px;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.container {
    display: grid;
    height: 100vh;
    margin-left: 60px;
    grid-template-columns: 1fr;
    /* grid-template-rows: 0.2fr 2.2fr; */
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: "nav" "main";
}

@media only screen and (max-width: 855px) {
    .main__cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts__right__cards {
        grid-template-columns: 1fr 1fr;
    }

    .navigation {
        left: -60px;
    }

    .navigation.active {
        left: -0px;
        width: 100%;
    }

    .toggle.active {
        background: #cfbb23;;
    }

    .toggle:before {
        content: "\f0c9";
        font-family: fontAwesome;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 24px;
        color: #333;
    }

    .toggle.active:before {
        content: "\f00d";
        z-index: 3;
        color: #fff;
    }

    .container {
        margin: 0;
    }
}

@media (max-width: 500px) {

    .charts__right__cards {
        grid-template-columns: 1fr;
    }
}

/*COurses*/
.card_in {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card2 > img {
    padding-bottom: 8px;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

/*Assignment*/
form {
    padding: 30px 0 0 0;
}
h3{
    color: #333;
    padding-top: 3%;
}
.container form .form-row {
    display: flex;
    margin:0;
    justify-content: center;
}

.form-row1{
    display: flex;
    margin:0;
    justify-content: center;
    width: 100%;
    height: 40px;
    position: relative;
    text-align: center;
    padding: 0.7%;
}
form .form-row .input-data {
    width: 100%;
    height: 40px;
    margin:20px;
    position: relative;
    text-align: center;
}

form .form-row .textarea {
    height: 70px;
}


.input-data input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    text-align: center;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
    transform: translateY(-20px);
    font-size: 14px;
    color: #333;
}

.input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 25px;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-left: -3% ;
}

.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50%;
}

.submit-btn .input-data {
    overflow: hidden;
    height: 45px !important;
    width: 25% !important;
}

.submit-btn .input-data .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #d7f553, #838b0d, #ebf74a, #da771a);
    transition: all 0.4s;
}

.submit-btn .input-data input {
    background: none;
    border: none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.btn1 {
    display: block;
    width: 20%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #F3DC2B, #F3DC2B, #F3DC2B);
    background-size: 200%;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.scroll {
    overflow: hidden;
}

.cont1 {
    padding-left: 5%;
    padding-right: 10%;
}

.cont1 > h1 {
    text-align: center;
    color: #2e4a66;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
 /*graded*/
 .div3{
     display: flex;
    justify-content: center;
 }
 textarea {
    width: 50%;
    padding: 2%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }