.container>nav>h1{
    text-align: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
    width: 70%;
  }
  th{
      width: 30%;
  }
  td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
    height: max-content;
  }
  tr:nth-child(even) {
    background-color: #b4b4b4;
    height: max-content;
  }
  .blk{
    display: block;
    text-align: center;
    padding-top: 1%;
    padding-left: 15%;
    width: 70%;
  }
.upload-btn-wrapper{
      width: 30%;
  }

  #uploadFile{
      width: 40%;
      background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
    font-size:medium;
    padding-top: 1%;
  }